# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env/
.venv/

# Data sets
aid-scene-classification-datasets/

# OS annoying files
.DS_Store
Thumbs.db